:where(html),:root {
  --downquark-size-base: 1rem;
  /* Fluid Spacing.
    Based off of:
    @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,18,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
  */
  --downquark-scale-size-3xs: clamp(0.25rem, calc(0.23rem + 0.11vi), 0.31rem);
  --downquark-scale-size-2xs: clamp(0.50rem, calc(0.48rem + 0.11vi), 0.56rem);
  --downquark-scale-size-xs: clamp(0.75rem, calc(0.71rem + 0.22vi), 0.88rem);
  --downquark-scale-size-s: clamp(var(--downquark-size-base), calc(0.96rem + 0.22vi), 1.13rem);
  --downquark-scale-size-m: clamp(1.50rem, calc(1.43rem + 0.33vi), 1.69rem);
  --downquark-scale-size-l: clamp(2.00rem, calc(1.91rem + 0.43vi), 2.25rem);
  --downquark-scale-size-xl: clamp(3.00rem, calc(2.87rem + 0.65vi) , 3.38rem);
  --downquark-scale-size-2xl: clamp(4.00rem, calc(3.83rem + 0.87vi), 4.50rem);
  --downquark-scale-size-3xl: clamp(6.00rem, calc(5.74rem + 1.30vi), 6.75rem);

  /* One-up pairs */
  --downquark-scale-size-3xs-2xs: clamp(0.25rem, calc(0.14rem + 0.54vi), 0.56rem);
  --downquark-scale-size-2xs-xs: clamp(0.50rem, calc(0.37rem + 0.65vi), 0.88rem);
  --downquark-scale-size-xs-s: clamp(0.75rem, calc(0.62rem + 0.65vi), 1.13rem);
  --downquark-scale-size-s-m: clamp(var(--downquark-size-base), calc(0.76rem + 1.20vi), 1.69rem);
  --downquark-scale-size-m-l: clamp(1.50rem, calc(1.24rem + 1.30vi), 2.25rem);
  --downquark-scale-size-l-xl: clamp(2.00rem, calc(1.52rem + 2.39vi), 3.38rem);
  --downquark-scale-size-xl-2xl: clamp(3.00rem, calc(2.48rem + 2.61vi), 4.50rem);
  --downquark-scale-size-2xl-3xl: clamp(4.00rem, calc(3.04rem + 4.78vi), 6.75rem);

  /* Custom pairs */
  --downquark-scale-size-s-l: clamp(var(--downquark-size-base), calc(0.57rem + 2.17vi), 2.25rem);
  --downquark-scale-size-3xs-3xl: clamp(0.25rem, calc(-2.01rem + 11.30vi), 6.75rem);

  /* As a Percentage
      0 -> .25rem -> 4px
      100 -> 6.75rem -> 108px
      single percent: ((1 / 100) * (6.75-.25)) -> 0.065
  */
  /* clamp should not matter but included as failsafe */
  --downquark-scale-size-single-percent: calc(calc(6.75rem - .25rem) / 100);
  --downquark-scale-size-to-percent: 11.54; /* 16.0016px ~ 1rem */
  --downquark-scale-size-percentage-clamp-value: calc(calc(var(--downquark-scale-size-to-percent) * var(--downquark-scale-size-single-percent)) + .25rem);
  --downquark-scale-size-percentage: var(--downquark-scale-size-percentage-clamp-value);
}