@import "../_namespace/dq.mock-my-db.css" layer(dq);
@layer utilities, mock-my-db;

@layer mock-my-db {
  @layer cnvs-diagram, inpt-src, mock-dfn;
  /* middle section, left section, right section */
}

/* block at-rules
  @layer dq {rules}
  @layer {rules}
  @layer dq.mock-my-db {rules} * /
@layer mock-my-db { *{border:1px solid blue} }
@layer dq { *{border:1px solid red;text-decoration:underline} }
@layer utilities { *{border:1px solid black} }
/* */

@layer utilities {
  a {
    color:wheat;
    &:hover {
      text-decoration: none;
    }
  }
  code {
    display: block;
    overflow: hidden;
    inline-size: 100%;
  }

  pre {
    border: 1px solid wheat;
    color: wheat;
    inline-size: calc(100% - 1rem);
    margin-inline-start: .25rem;
    max-inline-size: 20vi;
    overflow: auto;
    padding: 0.5rem .25rem;
  }

  [data-can-resize] {
    &::after {
      bottom: -.5rem;
      color: var(--downquark-color-background-primary);
      content: "â–";
      font-size: x-large;
      padding: 0 .1rem;
      position: absolute;
      right: .2rem;
      top: -.2rem;
    }
  }
}

@layer mock-my-db {
  body.project.dq.mock-my-db {
    background-color: var(--downquark-color-background-primary);
    color: var(--downquark-color-text-primary);

    header {
      text-align: center;
      &::after {content:"dq"; line-height: 2rem;}
      &:hover {
        &::after {
          content: "";
          line-height: unset;
        }
        hgroup {
          display: block;
        }
      }
      hgroup {
        display: none;

        h1, h2 {
          margin: 0;
        }

        h2 {
          margin-block-end: 1rem;
          font-size: large;
        }
      }
    }

    & main {
      box-sizing: border-box;
      block-size: calc(100vb - 2.25rem);

      .mock-my-db.application-interface {
        block-size: 98%;
        border: 1px solid aqua;
        display: flex;
        inline-size: 100%;

        section {
          block-size: 98%;
          overflow: auto;
          padding: .25rem .5rem;
          resize: inline;
          vertical-align: text-top;

          &.cnvs-diagram {
            border-inline: 1px solid oklch(0.52 0.09 268.86);
            inline-size: 50vi;
            max-inline-size:50vi;
            min-inline-size: 20vi;
          }
          &.input-src {
            inline-size: 100%;
            max-inline-size: 20vi;
            min-inline-size: 10vi;
            overflow: hidden;
          }
          &.mock-dfn {
            inline-size: 30vi;
            max-inline-size: 70vi;
            min-inline-size: 30vi;
          }

          h2 {
            background: oklch(0.52 0.09 268.86);
            color: wheat;
            font-size:larger;
            inline-size: 100%;
            margin: -.25rem 0 0 -.5rem;
            overflow: hidden;
            padding: 0;
            text-align: center;
            width: calc(100% + 1rem);

            .cnvs-diagram & {
              box-sizing: border-box;
              border-inline-end: 1px solid black;
              border-inline-start: 1px solid black;
            }
          }
        }
      }
    }
  }
}

@layer mock-my-db.inpt-src {
  section.input-src {
      .package-container {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        font-family: "Poppins", sans-serif;
        font-size: small;
        --primary-color: #1da1f2;
        --secondary-color: #1da1f2;
        --tab-text-color: #ffffff;
      }
      .package-heading {
        font-size: 16px;
        font-weight: 500;
        color: var(--tab-text-color);
      }
      .package-tab-wrapper {
        display: flex;
        align-items: center;
        column-gap: 10px;
        border-radius: 8px;
        border: 1px solid var(--primary-color);
        padding: 8px;
      }
      .package-tab-wrapper .input {
        display: none;
      }
      .package-tab {
        flex-grow: 1;
        text-align: center;
        padding: 8px 16px;
        border-radius: 8px;
        font-size: 12px;
        background: var(--tab-text-color);
        color: var(--secondary-color);
        font-weight: 600;
        cursor: pointer;
        transition: 0.5s ease-in-out;
      }
      .package-tab:active {
        transform: scale(0.9);
      }
      .input:checked + label.package-tab {
        background: var(--primary-color);
        color: var(--tab-text-color);
        box-shadow: 0 0 10px 0 var(--primary-color);
    }
    button.parse-schema {
      div:has(> &){
        text-align: right;
      }
        position: relative;
        letter-spacing: 0.05em;
        border-radius: 0.8em;
        cursor: pointer;
        border: none;
        background: linear-gradient(to right, oklch(0.52 0.09 268.86));
        color: wheat;
        overflow: hidden;

      svg {
        width: 1.2em;
        height: 1.2em;
        margin-right: 0.5em;
      }

      span {
        position: relative;
        z-index: 10;
        transition: color 0.4s;
        display: inline-flex;
        align-items: center;
        padding: 0.8em 1.2em 0.8em 1.05em;
      }

      &::before,
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
      }

      &::before {
        content: "";
        background: #000;
        width: 120%;
        left: -10%;
        transform: skew(30deg);
        transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
      }

      &:hover::before {
        transform: translate3d(100%, 0, 0);
      }

      &:active {
        transform: scale(0.95);
      }
    }
    .database-scheme-or-structure {
      .sql-hl {
        &.keyword {
          color: var(--downquark-color-brand-secondary);
        }

        &.function {
          color: var(--downquark-color-brand-tertiary);
        }

        &.number {
          color: var(--downquark-color-base-orange-200);
        }

        &.string {
          color: var(--downquark-color-namespace-secondary);
        }

        &.identifier {
          color: var(--downquark-color-base-cyan-400);
        }

        &.special {
          color: var(--downquark-color-base-gray-200);
        }

        &.bracket {
          color: var(--downquark-color-base-magenta-400);
        }

        &.comment {
          color: var(--downquark-color-base-gray-400);
        }

        &.clear {
          color: transparent;
        }
      }
    }
  }
}
