@import "../_namespace/dq.mock-my-db.css" layer(dq);
@layer utilities, mock-my-db;

@layer mock-my-db {
  @layer cnvs, inpt-src, mock-dfn;
  /* middle section, left section, right section */
}

/* block at-rules
  @layer dq {rules}
  @layer {rules}
  @layer dq.mock-my-db {rules} * /
@layer mock-my-db { *{border:1px solid blue} }
@layer dq { *{border:1px solid red;text-decoration:underline} }
@layer utilities { *{border:1px solid black} }
/* */

@layer utilities {
  table tbody td code {
    display: block;
    overflow: hidden;
    inline-size: 100%;

    pre {
      border: 1px solid wheat;
      color: wheat;
      inline-size: 100%;
      max-inline-size: 20vi;
      margin-inline: 1rem;
      overflow: scroll;
    }
  }

  [data-can-resize] {
    &::after {
      bottom: -.5rem;
      color: var(--downquark-color-background-primary);
      content: "â–";
      font-size: x-large;
      padding: 0 .1rem;
      position: absolute;
      right: .2rem;
      top: -.2rem;
    }
  }
}

@layer mock-my-db {
  body.project.dq.mock-my-db {
    background-color: var(--downquark-color-background-primary);
    color: var(--downquark-color-text-primary);

    a {
      color:wheat;
      &:hover {
        text-decoration: none;
      }
    }

    hgroup {
      block-size: 15vb;
      h1, h2 {
        margin: 0;
      }
      h2 {
        margin-block-end: 1rem;
        font-size: large;
      }
    }

    & main {
      box-sizing: border-box;
      block-size: 83vb;
      table {
        block-size: 100%;
        border: 1px solid aqua;
        inline-size: 100%;
        td {
          block-size: 100%;
          padding: .25rem .5rem;
          overflow: auto;
          /*resize: horizontal;*/
          & > * { block-size: 100%; }
          &.cnvs {
            border-inline: 1px solid oklch(0.52 0.09 268.86);
          }
          &.input-src {
            /*inline-size: 20%;*/
            /*max-inline-size: 20vi;*/
            /*overflow: hidden;*/
          }
        }
        th {
          background: oklch(0.52 0.09 268.86);
          color: wheat;
          font-size:larger;
          inline-size: 100%;
          overflow: auto;
          padding: 0;
          resize: horizontal;
          &.cnvs {
            inline-size: 50vi;
            max-inline-size:50vi;
            min-inline-size: 20vi;
          }
          &.input-src {
            inline-size: 20vi;
            max-inline-size: 20vi;
            overflow: hidden;
          }
          &.mock-dfn {
            inline-size: 30vi;
            max-inline-size: 70vi;
            min-inline-size: 30vi;
          }
        }
      }
    /*  dddd*/
    }
  }
}
